<html>
  <!-- TODO rename focus.html -->
  <head>
    <script type="text/javascript" src="/javascript/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/javascript/alert.js"></script>
  </head>
  <body>
    <!-- TODO parent template for consistent styling -->
    New session {{ interval }} milliseconds.
    <br>
    <form action="/stop" method="post">
      <input id="key" type="hidden" name="key" value="{{session_key}}">
      <input id="initial_interval" type="hidden" value="{{interval}}"> <!-- TODO find a better way to pass the inital interval to alert.js -->
      <input type="submit" value="Stop" />
    </form>

    <!-- TODO add a button to automatically decrease interval for alert if unfocused-->
  </body>
</html>
